/*Encabezado de la página */


*{margin:0 ; padding:0;
}

#logo{

  background-image:url("imagen/fondo.jpg");
  height:50px;

}




body {

  background-image: url(imagen/fondo1.jpg);
  background-size:100vw 100vh;
  background-attachment: fixed;
  margin:0;

}

form {
  width: 450px;
  margin:auto;
  background: rgba(107, 81, 98, 0.301);
  padding:10px 20px;
  box-sizing: border-box;
  margin-top:20px;
  border-radius: 6px;
}

h3 {
color: rgb(31, 27, 27);
text-align: center;
font-size:30px;
margin-bottom: 20px;

}
input,textarea {

  width:100%;
  margin-bottom: 20px;
  padding:7px;
  box-sizing: border-box;
  font-size: 17px;
  border:none;
}

textarea {
min-height: 200px;
max-height:200px;
max-width:100%;
margin:0 ; padding:0; 

}

#escribeMsj
{  width:100%;
  margin-bottom: 20px;
  padding:7px;
  box-sizing: border-box;
  font-size: 17px;
  border:none;
}

#cypher{
  background: rgb(236, 137, 55);
  color:#fff;
  padding:10px;
}
#decypher{
  background: #9c3bdd;
  color:#fff;
  padding:10px;
}


@media (max-width:480px)
{
  form{
    width:100%;

  }
}



