/*Encabezado de la página */


*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
 header{
width: 100%;
height:50px;
background:rgba(76, 68, 190, 0.63);

top:0;
left:0;
z-index:100;
}

h1{
  color: rgb(37, 35, 35);
  font-family: 'Gloria Hallelujah', cursive;


}

  
 .contenedor{
 width: 98%;
 margin:auto;
}

/* Bienvenida */
#Bienvenida {
text-align: center;
padding:50px ;
font-family: 'Carter One', cursive;
font-size: 35px;
color: rgb(0, 0, 0);
border-radius: 6px;


}

.txtbnco {
  color:#fff;
}

/* Diseño de página de inicio */

#dvpreguntas
{
  display:none;
}




#intro{

  width: 600px;
  margin:auto;
  background:rgb(255, 255, 255);
  padding:30px 20px;
  box-sizing: border-box;
  margin-top:20px;
  border:10px  solid #524e4e;
  color:rgb(0, 0, 0);
  border-radius: 6px;
    margin-top:50px;
    position:relative;
}



/* introducciones*/
#introducciones

{
    text-align:center;
}
/* Cajas de texto*/

.texto{

  padding: 10px;
}

/* Boton de empezar */

#clickea

{

background: rgb(226, 69, 69);
  color:#fff;
  padding:20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left:25;
  
}




/* body */
body {

  background-image: url(imagen/triangulo.jpg);
  background-size:100vw 100vh;
  margin:0;

}

form {
  width: 550px;
  margin:auto;
  background: rgb(255, 255, 255);
  padding:30px 20px;
  box-sizing: border-box;
  margin-top:20px;
  font-family: 'Frank Ruhl Libre', serif;
  background-image:url(imagen/borroso.jpg);
  
  border-radius: 6px;
    margin-top:50px;
    position:relative;
  }
 

h3 {
color: rgb(246, 234, 234);
text-align: center;
font-size:30px;
margin-bottom: 20px;

}

input {
  width: 15%;
  margin-bottom: 10px;
  padding:10px;
  box-sizing: border-box;
  font-size: 19px;
  border:none;

}

textarea {

  width:100%;
  margin-bottom: 20px;
  padding:50px;
  box-sizing: border-box;
  font-size: 19px;
  border:none;
}

textarea {
min-height: 200px;
max-height:200px;
max-width:100%;
margin:0 ; padding:0; 

}

#volver{

  background: rgb(61, 92, 250);
  color:#fff;
  padding:20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left:auto;
  

}
button {

  text-align: center;
  vertical-align: middle;
}
#cypher{
  background: rgb(250, 61, 61);
  color:#fff;
  padding:20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-right: auto;
  
  
  
}
#decypher{
  background:rgba(255, 243, 76, 0.823);
  color:#fff;
  padding:20px ;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-right:auto;
  
}

@media (max-width:480px)
{
  form{
    width:100%;

  }
#intro {

  width:100%;
}


section{
  width:100%;
  margin-bottom:25px;
}
}